.about-container {
    grid-area: content;
    padding: 20px;
    overflow-x: hidden;
    /* Impede o scroll horizontal */
}

@media (min-width: 768px) {
    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }
}

.about-text {
    text-align: justify;
    max-width: 100%;
    font-size: 16px;
    word-break: break-word;
}

.about-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 20px;
}

.about-image img {
    max-height: 300px;
}