.pokemon-container {
    grid-area: content;
    padding: 20px;
    overflow-x: hidden;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 18px;
    color: #888;
}

.load-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}