.gigantamax-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px;
    width: 15rem;
}

.dark-mode .gigantamax-card {
    background-color: rgb(33, 37, 41);
}

.gigantamax-card-header {
    background-color: #183575;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

.gigantamax-card-content img {
    display: block;
    width: 100%;
    max-width: 190px;
    margin: 0 auto;
    padding: 8px;
    height: 10rem;
}

.gigantamax-card-footer {
    background-color: #183575;
    color: #fff;
    padding: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.gigantamax-types {
    display: flex;
    justify-content: flex-end;
}

.gigantamax-type {
    background-color: #fff;
    color: #183575;
    border-radius: 16px;
    padding: 4px 8px;
    margin-left: 4px;
}

.gigantamax-evolution {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.gigantamax-info-icon {
    font-size: 20px;
}

.evolution-link {
    display: flex;
    justify-content: space-between;
}

.evolution-link:hover {
    transform: scale(1.3);
    transition: 0.4s;
}

.type-img:hover {
    transform: scale(1.3);
    transition: 0.4s;
}